.withdraw[data-v-150992f2] {
    min-height: 100vh;
    padding-bottom: 18rem;
    background: #0d131c;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding-top: 1rem
}



.withdraw .navback[data-v-150992f2] {
    display: flex;
    align-items: center;
    padding: 0 3rem
}

.withdraw .navback .back-img[data-v-150992f2] {
    width: 4.8rem;
    height: 4rem
}

.withdraw .navback .logo-img[data-v-150992f2] {
    width: 7.2rem;
    height: 7.2rem;
    margin-left: 1rem
}

.withdraw .navback p[data-v-150992f2] {
    font-weight: 500;
    font-size: 4.5rem;
    color: #fff;
    margin-left: 2rem
}

.withdraw .section-box[data-v-150992f2] {
    padding: 0 2.8rem;
    margin-top: 1rem
}




.withdraw .section-box .lease-banner .r-img[data-v-150992f2] {
    width: 17.2rem;
    height: 16.4rem;
    position: absolute;
    right: 0;
    top: -3rem
}

.withdraw .section-box .lease-banner .accum[data-v-150992f2] {
    margin-top: 3rem;
    width: 100%;
    padding-left: 3rem
}

.withdraw .section-box .lease-banner .accum .accum-t1[data-v-150992f2] {
    font-size: 2.4rem;
    color: #fff;
    text-align: left
}

.withdraw .section-box .lease-banner .accum .accum-t2[data-v-150992f2] {
    font-weight: 400;
    font-size: 4.2rem;
    color: #fff;
    font-weight: 700;
    margin-top: 1rem;
    text-align: left
}

.withdraw .section-box .existing[data-v-150992f2] {
    width: 69.4rem;
    border-radius: .8rem;
    margin: 0 auto;
    padding-left: 3rem;
    display: flex;
    margin-top: 4rem;
    align-items: center
}

.withdraw .section-box .existing .left[data-v-150992f2] {
    display: flex;
    flex-direction: column;
    width: 50%
}

.withdraw .section-box .existing .left p[data-v-150992f2] {
    font-size: 2.6rem;
    color: #fff;
    text-shadow: 0 .2rem .4rem rgba(0, 0, 0, .5);
    text-align: left;
    font-weight: 700
}

.withdraw .section-box .existing .left .income[data-v-150992f2] {
    font-weight: 700;
    font-size: 3.8rem;
    color: #fff;
    text-align: left;
    margin-top: 1rem
}

.withdraw .section-box .existing .rightu[data-v-150992f2] {
    display: flex;
    flex-direction: column;
    width: 50%
}

.withdraw .section-box .existing .rightu p[data-v-150992f2] {
    font-size: 2.6rem;
    color: #fff;
    text-shadow: 0 .2rem .4rem rgba(0, 0, 0, .5);
    text-align: left;
    font-weight: 700
}

.withdraw .section-box .existing .rightu .income[data-v-150992f2] {
    font-weight: 700;
    font-size: 3.8rem;
    color: #fff;
    text-align: left;
    margin-top: 1rem
}

.withdraw .section-box .boxed[data-v-150992f2] {
    background: #161f2c;
    border-radius: 2rem;
    padding: 2rem;
    margin-top: 3rem
}

.withdraw .section-box .signin[data-v-150992f2] {
    height: 7rem;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    border-bottom: .1rem solid #d8d8d8
}

.withdraw .section-box .signin .tip[data-v-150992f2] {
    color: red;
    margin-left: 3rem
}

.withdraw .section-box .signin img[data-v-150992f2] {
    width: 4rem;
    height: 4rem
}

.withdraw .section-box .signin p[data-v-150992f2] {
    font-weight: 500;
    font-size: 3rem;
    color: #fff;
    margin-left: 1rem
}

.withdraw .section-box .select-usdt[data-v-150992f2] {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3rem;
    margin-top: 3rem
}

.withdraw .section-box .select-usdt .l-tile[data-v-150992f2] {
    width: 30%;
    font-size: 4rem;
    border-radius: .8rem;
    background: #f5f5f5;
    color: #333c40;
    padding: 1rem 2rem
}

.withdraw .section-box .select-usdt .select[data-v-150992f2] {
    color: #35774a;
    font-weight: 700;
    border: .2rem solid #35774a
}

.withdraw .section-box .ullist .listmethod[data-v-150992f2] {
    min-height: 12.4rem;
    background: #fff;
    box-shadow: 0 .4rem 1.1rem -.4rem rgba(0, 0, 0, .3);
    border-radius: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem 2rem 2rem;
    margin-bottom: 1.5rem
}

.withdraw .section-box .ullist .listmethod .left[data-v-150992f2] {
    display: flex;
    align-items: center;
    width: 90%
}

.withdraw .section-box .ullist .listmethod .left img[data-v-150992f2] {
    width: 3.4rem;
    height: 2.6rem
}

.withdraw .section-box .ullist .listmethod .left .meth-box[data-v-150992f2] {
    width: 100%
}

.withdraw .section-box .ullist .listmethod .left .meth-box p[data-v-150992f2] {
    font-size: 2.8rem;
    color: #fff;
    margin-left: 1.5rem;
    text-align: left;
    font-weight: 500
}

.withdraw .section-box .ullist .listmethod .left .meth-box .dest[data-v-150992f2] {
    font-size: 2.3rem;
    text-align: left;
    width: 101%
}

.withdraw .section-box .ullist .listmethod .imgright[data-v-150992f2] {
    width: 4rem;
    height: 4rem
}

.withdraw .section-box .line[data-v-150992f2] {
    width: 69rem;
    margin: 3rem 0
}

.withdraw .section-box .line[data-v-150992f2],
.withdraw .section-box .lined[data-v-150992f2] {
    height: .1rem;
    border-radius: 1.8rem;
    border: .1rem solid;
    border-image: linear-gradient(270deg, rgba(19, 0, 100, 0), #080034, rgba(19, 0, 100, 0)) 1 1
}

.withdraw .section-box .lined[data-v-150992f2] {
    width: 28rem;
    opacity: .2;
    margin: 3rem auto
}

.withdraw .section-box .feeges-wrap[data-v-150992f2] {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem
}

.withdraw .section-box .feeges[data-v-150992f2] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%
}

.withdraw .section-box .feeges p[data-v-150992f2] {
    font-size: 2.8rem;
    color: #080034
}

.withdraw .section-box .feeges span[data-v-150992f2] {
    font-size: 3rem;
    font-weight: 400;
    color: #080034
}

.withdraw .section-box .seletwo[data-v-150992f2] {
    margin-top: 2rem
}

.withdraw .section-box .seletwo span[data-v-150992f2] {
    width: 26.3rem
}

.withdraw .section-box .account[data-v-150992f2] {
    margin-bottom: 2rem
}

.withdraw .section-box .account .left[data-v-150992f2] {
    display: flex;
    align-items: center
}

.withdraw .section-box .account .left img[data-v-150992f2] {
    width: 5.3rem;
    height: 4.8rem;
    margin-right: 2rem
}

.withdraw .section-box .account .left .holdera[data-v-150992f2] {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 1.2rem;
    background: #2c3a4e
}

.withdraw .section-box .account .left .holdera .uname[data-v-150992f2] {
    justify-content: space-between;
    align-items: center;
    padding: 2rem
}

.withdraw .section-box .account .left .holdera .uname .l-na[data-v-150992f2] {
    display: flex;
    align-items: center
}

.withdraw .section-box .account .left .holdera .uname .l-na img[data-v-150992f2] {
    width: 4rem;
    height: 4rem
}

.withdraw .section-box .account .left .holdera .uname span[data-v-150992f2]:first-child {
    font-size: 3rem;
    font-family: fontbold;
    color: #080034
}

.withdraw .section-box .account .left .holdera .uname span[data-v-150992f2]:nth-child(2) {
    color: #080034
    font-size: 3rem
}

.withdraw .section-box .account .left .holdera .banknum[data-v-150992f2] {
    justify-content: space-between
}

.withdraw .section-box .account .left .holdera .banknum span[data-v-150992f2]:first-child {
    font-size: 3rem;
    color: #080034
}

.withdraw .section-box .account .left .holdera .banknum span[data-v-150992f2]:nth-child(2) {
    font-size: 3rem;
    background: linear-gradient(270deg, #21a2ff, #0038c6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.withdraw .section-box .account .right[data-v-150992f2] {
    display: flex;
    align-items: center;
    justify-content: center
}

.withdraw .section-box .account .right img[data-v-150992f2] {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1rem
}

.withdraw .section-box .account .right p[data-v-150992f2] {
    font-size: 2.8rem;
    font-weight: 400;
    font-family: fontbold;
    background: linear-gradient(270deg, #21a2ff, #0038c6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline
}

.withdraw .section-box .notset[data-v-150992f2] {
    color: #fa6400;
    text-align: left;
    margin-bottom: .5rem;
    font-weight: 700
}

.withdraw .section-box .rule-with[data-v-150992f2] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3rem;
    margin-top: 4rem
}

.withdraw .section-box .rule-with p[data-v-150992f2] {
    text-align: left;
    font-size: 2.8rem;
    font-family: fontbold;
    color: red
}

.withdraw .section-box .minimum[data-v-150992f2] {
    margin-top: 3rem;
    text-align: left;
    margin-bottom: 1rem
}

.withdraw .section-box .minimum .ts[data-v-150992f2] {
    display: flex;
    align-items: center;
    margin-bottom: 1rem
}

.withdraw .section-box .minimum .ts img[data-v-150992f2] {
    width: 4rem;
    height: 4rem
}

.withdraw .section-box .minimum .ts .kind[data-v-150992f2] {
    font-weight: 700;
    font-size: 2.8rem;
    color: #fff;
    margin-left: 1rem
}

.withdraw .section-box .minimum p[data-v-150992f2] {
    font-size: 2.8rem;
    color: #fff
}

.withdraw .section-box .rechbtn[data-v-150992f2] {
    position: fixed;
    transform: translateX(-50%);
    bottom: 5rem;
    margin-top: 3rem;
    width: 69rem;
    height: 8.8rem;
    background: linear-gradient(0.74turn, #ad46ff .1%, #4f39f6);
    border-radius: 4.9rem;
    font-weight: 700;
    font-size: 3.6rem;
    color: #fff
}

[data-v-150992f2] .nav-box {
    padding: 4rem 0 0;
    background: none
}

[data-v-150992f2] .nav-box .van-nav-bar__content .van-nav-bar__left img {
    width: 2.6rem;
    height: 3rem
}

[data-v-150992f2] .nav-box .van-nav-bar__content .van-nav-bar__left i {
    color: #fff;
    font-size: 4rem
}

[data-v-150992f2] .nav-box .van-nav-bar__content .van-nav-bar__title {
    padding: .5rem 0
}

[data-v-150992f2] .nav-box .van-nav-bar__content .van-nav-bar__title img {
    width: 19.2rem;
    height: 5rem
}

[data-v-150992f2] .nav-box .van-nav-bar__content .van-nav-bar__title p {
    font-size: 3.6rem;
    color: #fff
}

[data-v-150992f2] .nav-box .van-nav-bar__content .van-nav-bar__right .billde {
    display: flex;
    flex-direction: column;
    align-items: center
}

[data-v-150992f2] .nav-box .van-nav-bar__content .van-nav-bar__right .billde p {
    font-weight: 400;
    font-size: 2.2rem
}

[data-v-150992f2] .nav-box .van-nav-bar__content .van-nav-bar__right .billde img {
    width: 4.4rem;
    height: 4.4rem;
    margin-left: 1rem
}

[data-v-150992f2] .nav-box:after {
    display: none
}

[data-v-150992f2] .input-box {
    height: 8rem;
    border-radius: .8rem;
    border: .1rem solid #fff;
    background: none;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center
}

[data-v-150992f2] .input-box .van-field__left-icon {
    margin-right: 2rem
}

[data-v-150992f2] .input-box .van-field__left-icon img {
    margin-top: 1rem;
    width: 4.4rem;
    height: 4.4rem
}

[data-v-150992f2] .input-box .van-field__right-icon button {
    width: 12.1rem;
    line-height: 5rem;
    background: linear-gradient(270deg, #21a2ff, #0038c6);
    border-radius: .8rem;
    font-size: 2.8rem;
    font-family: fontbold;
    font-weight: 400;
    color: #fff;
    padding-top: .5rem
}

[data-v-150992f2] .input-box .van-field__right-icon .eyeimg {
    margin-top: 1rem;
    width: 5rem;
    height: 5rem
}

[data-v-150992f2] .input-box input {
    font-size: 3rem;
    color: #fff
}

[data-v-150992f2] .input-box input.van-field__control::-webkit-input-placeholder {
    color: #fff
}

[data-v-150992f2] .popup-bank {
    background: #fff;
    border-radius: 2.4rem 2.4rem 0 0;
    padding: 2rem 2.8rem 8rem
}

[data-v-150992f2] .popup-bank .banktitle {
    font-size: 2.8rem;
    color: #fff;
    text-align: left;
    margin-bottom: 1rem;
    font-weight: 500
}

[data-v-150992f2] .popup-bank .input-box {
    height: 8rem;
    background: #fff;
    box-shadow: 0 0 .4rem 0 rgba(0, 0, 0, .1);
    border-radius: .8rem;
    border: .1rem solid rgba(32, 31, 68, .2);
    padding: 1.5rem 2rem;
    margin-bottom: 2.5rem
}

[data-v-150992f2] .popup-bank .input-box input {
    color: #fff
}

[data-v-150992f2] .popup-bank .input-box input::placeholder {
    font-size: 3.2rem;
    font-weight: 400;
    color: #fff
}

[data-v-150992f2] .popup-bank .bankbtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8rem
}

[data-v-150992f2] .popup-bank .bankbtn button {
    width: 33.6rem;
    height: 8.8rem;
    border-radius: .8rem;
    border: .2rem solid #333c40;
    font-size: 3.6rem;
    font-family: HelveticaNeue-CondensedBold, HelveticaNeue;
    font-weight: 400;
    color: #333c40;
    background: none
}

[data-v-150992f2] .popup-bank .bankbtn :nth-child(2) {
    background: #ffc108;
    box-shadow: 0 2rem 3rem -1.2rem rgba(0, 145, 255, .7);
    font-size: 3.6rem;
    font-weight: 400;
    color: #333841;
    border: none
}

[data-v-150992f2] .popup-bank .signin {
    height: 7rem;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 3rem
}

[data-v-150992f2] .popup-bank .signin p {
    position: absolute;
    display: inline-block;
    font-weight: 400;
    color: #333c40;
    font-size: 3.2rem;
    font-weight: 600
}

[data-v-150992f2] .popup-bank .signin span {
    display: inline-block;
    content: "";
    width: 26rem;
    height: 1.2rem;
    background: #ffd638
}