.login[data-v-4dce6a1e] {
    min-height: 100vh;
    background: #f7f6f3;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column
}

.login[data-v-4dce6a1e]:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 70.6rem;
    background: url(/lendlease/dist/img/bg.54ca8fd6.png) no-repeat 50%/100% auto
}

.login .wrap[data-v-4dce6a1e] {
    width: 100%;
    height: 30rem;
    box-sizing: border-box;
    padding: 0 3rem;
    padding-top: 15rem;
    position: relative
}

.login .wrap-body[data-v-4dce6a1e] {
    flex: 1;
    box-sizing: border-box;
    padding: 0 1rem;
    width: 100%;
    background: #fff;
    border-radius: 4.8rem 4.8rem 0 0;
    padding-bottom: 3rem
}

.login .wrap-body .section-box[data-v-4dce6a1e] {
    padding: 0 3rem;
    height: 100%;
    margin-top: 3rem
}

.login .wrap-body .section-box .wrap-logo[data-v-4dce6a1e] {
    display: flex;
    align-items: center
}

.login .wrap-body .section-box .wrap-logo .logo-img[data-v-4dce6a1e] {
    width: 9.8rem;
    height: 9.8rem;
    border: 1px solid #999;
    border-radius: 1rem
}

.login .wrap-body .section-box .wrap-logo .r-dest[data-v-4dce6a1e] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem
}

.login .wrap-body .section-box .wrap-logo .r-dest .logo-tit[data-v-4dce6a1e] {
    font-size: 4rem;
    color: #333;
    font-weight: 700
}

.login .wrap-body .section-box .wrap-logo .r-dest .join[data-v-4dce6a1e] {
    font-size: 2.8rem;
    color: #666
}

.login .wrap-body .section-box .content[data-v-4dce6a1e] {
    margin: 0 auto;
    width: 63rem;
    border-radius: .8rem;
    margin-top: 3rem
}

.login .wrap-body .section-box .content .signin[data-v-4dce6a1e] {
    height: 7rem;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end
}

.login .wrap-body .section-box .content .signin p[data-v-4dce6a1e] {
    position: absolute;
    display: inline-block;
    color: #ffd631;
    font-size: 5rem;
    font-weight: 600
}

.login .wrap-body .section-box .content .signin span[data-v-4dce6a1e] {
    display: inline-block;
    content: "";
    width: 17.2rem;
    height: 1.2rem;
    background: #ffd638
}

.login .wrap-body .section-box .content .userinfo[data-v-4dce6a1e] {
    width: 100%;
    border-radius: 1rem
}

.login .wrap-body .section-box .content .userinfo .line[data-v-4dce6a1e] {
    width: 90%;
    height: .1rem;
    margin: .5rem auto;
    background: #cecece
}

.login .wrap-body .section-box .content .userinfo .box-title[data-v-4dce6a1e] {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-bottom: 2rem
}

.login .wrap-body .section-box .content .userinfo .box-title img[data-v-4dce6a1e] {
    width: 4rem;
    height: 4rem
}

.login .wrap-body .section-box .content .userinfo .box-title .title[data-v-4dce6a1e] {
    box-sizing: border-box;
    font-size: 3.2rem;
    color: #333;
    margin-left: 1rem;
    font-weight: 700
}

.login .wrap-body .section-box .content .userinfo .bankname[data-v-4dce6a1e] {
    height: 10rem;
    background: #f7f7f7;
    border-radius: 1.6rem;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 3rem;
    border: .2rem solid #999
}

.login .wrap-body .section-box .content .userinfo .bankname .l-bank[data-v-4dce6a1e] {
    display: flex;
    align-items: center
}

.login .wrap-body .section-box .content .userinfo .bankname .l-bank img[data-v-4dce6a1e] {
    width: 4rem;
    height: 4rem
}

.login .wrap-body .section-box .content .userinfo .bankname .l-bank .l-name[data-v-4dce6a1e] {
    margin-left: 1rem;
    color: #7f7f7f;
    font-size: 3.2rem
}

.login .wrap-body .section-box .content .userinfo .bankname i[data-v-4dce6a1e] {
    font-size: 3rem;
    color: #000
}

.login .wrap-body .section-box .protocols[data-v-4dce6a1e] {
    width: 68rem;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    align-items: center
}

.login .wrap-body .section-box .protocols i[data-v-4dce6a1e] {
    font-size: 3.5rem
}

.login .wrap-body .section-box .protocols img[data-v-4dce6a1e] {
    width: 4rem;
    height: 4rem
}

.login .wrap-body .section-box .protocols p[data-v-4dce6a1e] {
    margin-left: 1rem;
    font-size: 2.8rem;
    color: #000
}

.login .wrap-body .section-box .protocols p span[data-v-4dce6a1e] {
    font-size: 2.8rem;
    color: #ffa400;
    font-weight: 700
}

.login .wrap-body .section-box .login-btn[data-v-4dce6a1e] {
    width: 63rem;
    height: 9.6rem;
    background: #000;
    border-radius: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3rem
}

.login .wrap-body .section-box .login-btn .tit[data-v-4dce6a1e] {
    font-weight: 700;
    font-size: 3.6rem;
    color: #fff
}

.login .wrap-body .section-box .forgot[data-v-4dce6a1e] {
    font-size: 2.8rem;
    color: #666;
    margin-top: 3rem;
    display: flex;
    flex-direction: column
}

.login .wrap-body .section-box .forgot span[data-v-4dce6a1e] {
    color: #35774a;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: 1rem
}

.login .wrap-body .section-box .btnsign[data-v-4dce6a1e] {
    width: 53rem;
    height: 8.8rem;
    background: linear-gradient(270deg, #21a2ff, #0038c6);
    border-radius: .8rem;
    font-family: fontbold;
    padding-top: 1rem;
    font-size: 4rem;
    color: #fff;
    font-weight: 500;
    margin-top: 6rem
}

.login .wrap-body .section-box .signup[data-v-4dce6a1e] {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem
}

.login .wrap-body .section-box .signup p[data-v-4dce6a1e] {
    font-size: 4rem;
    font-weight: 400;
    color: #333841;
    margin-left: 2rem
}

.login .wrap-body .section-box .signup img[data-v-4dce6a1e] {
    width: 3.8rem;
    height: 3rem
}

[data-v-4dce6a1e] .input-box {
    height: 8.8rem;
    border-radius: 1.6rem;
    align-items: center;
    background: #f8f8f8;
    border: .2rem solid #999
}

[data-v-4dce6a1e] .input-box .van-field__control {
    font-weight: 500;
    font-size: 2.6rem
}

[data-v-4dce6a1e] .input-box .van-field__control:disabled {
    color: #333;
    -webkit-text-fill-color: #333;
    font-weight: 700
}

[data-v-4dce6a1e] .input-box input::placeholder {
    font-size: 3.2rem;
    font-weight: 400;
    color: #666
}

[data-v-4dce6a1e] .input-box .van-field__left-icon {
    margin-right: 2rem
}

[data-v-4dce6a1e] .input-box .van-field__left-icon .phone-left {
    display: flex;
    align-items: center
}

[data-v-4dce6a1e] .input-box .van-field__left-icon .phone-left img {
    width: 4rem;
    height: 4rem;
    margin-right: 2rem
}

[data-v-4dce6a1e] .input-box .van-field__left-icon .phone-left .imgt {
    margin-right: 0
}

[data-v-4dce6a1e] .input-box .van-field__left-icon .phone-left p {
    font-size: 2.8rem;
    color: #012cf9
}

[data-v-4dce6a1e] .input-box .van-field__right-icon {
    display: flex;
    align-items: center
}

[data-v-4dce6a1e] .input-box .van-field__right-icon .sendbtn {
    width: 9.8rem;
    height: 6.2rem;
    border-radius: 3.1rem !important;
    margin-right: -1rem;
    background: #35774a
}

[data-v-4dce6a1e] .input-box .van-field__right-icon .sendbtn .van-button__content span {
    font-size: 2.8rem;
    font-weight: 500;
    color: #fff;
    font-weight: 700
}

[data-v-4dce6a1e] .input-box .van-field__right-icon .eyeimg {
    width: 5rem;
    height: 5rem
}

[data-v-4dce6a1e] .input-box input {
    color: #000;
    font-size: 2.6rem
}

[data-v-4dce6a1e] .input-box:after {
    display: none
}

[data-v-4dce6a1e] .popup-box {
    width: 67rem;
    background: #fff;
    padding: 2.8rem 2rem 4rem;
    border-radius: 1rem
}

[data-v-4dce6a1e] .popup-box .entert {
    color: #333c40;
    text-align: left;
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 4rem;
    padding: 0 2rem
}

[data-v-4dce6a1e] .popup-box .btn {
    margin-top: 5rem
}

[data-v-4dce6a1e] .popup-box .btn .btn-cancel {
    width: 20rem;
    height: 7rem;
    font-size: 3.2rem;
    font-weight: 700;
    font-weight: 400;
    color: #333841;
    margin-right: 10rem
}

[data-v-4dce6a1e] .popup-box .btn .bull-btn {
    width: 20rem;
    height: 7rem;
    background: #35774a;
    font-size: 3.2rem;
    font-weight: 400;
    color: #fff;
    font-weight: 700
}

[data-v-4dce6a1e] .popup-box i {
    color: #3a72ff
}

[data-v-4dce6a1e] .popup-box .line {
    width: 90%;
    height: .1rem;
    margin: .5rem auto;
    background: #cecece
}

[data-v-4dce6a1e] .popup-box .input-box input {
    color: #000
}

[data-v-4dce6a1e] .van-button--default {
    border: none
}

[data-v-4dce6a1e] .imaged .van-cell__value .van-field__body .van-field__right-icon .van-image img {
    margin-top: 6px
}

[data-v-4dce6a1e] .sel-input {
    background: rgba(53, 119, 74, .05);
    border: .2rem solid #35774a
}

[data-v-4dce6a1e] .sel-input input {
    color: #35774a
}

[data-v-4dce6a1e] .sel-input input::placeholder {
    font-size: 3.2rem;
    font-weight: 400;
    color: #35774a
}

[data-v-4dce6a1e] .item-boxi {
    border-radius: 1.2rem;
    height: 9rem;
    margin-bottom: 3rem;
    border: 1px solid #999;
    padding: 0
}

[data-v-4dce6a1e] .item-boxi .van-dropdown-menu__bar {
    height: 100%;
    border-radius: 1.2rem;
    justify-content: space-between
}

[data-v-4dce6a1e] .item-boxi .van-dropdown-menu__bar .van-dropdown-menu__item {
    width: 100%;
    justify-content: space-between
}

[data-v-4dce6a1e] .item-boxi .van-dropdown-menu__bar .van-dropdown-menu__item .van-dropdown-menu__title {
    color: #333;
    width: 90%;
    text-align: left;
    font-weight: 500
}

[data-v-4dce6a1e] .item-boxi .van-dropdown-menu__bar .van-dropdown-menu__item .van-dropdown-menu__title:after {
    border: 1rem solid;
    margin-top: -1.5rem;
    opacity: 1;
    border-color: transparent transparent #000 #000
}

[data-v-4dce6a1e] .item-boxi .van-badge__wrapper {
    padding-top: 1rem
}