.login[data-v-6698f844] {
    min-height: 100vh;
    overflow-y: scroll;
    background: #f7f6f3;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column
}

.login[data-v-6698f844]:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 70.6rem;
    background: url(/lendlease/dist/img/bg.54ca8fd6.png) no-repeat 50%/100% 100%
}

.login .wrap[data-v-6698f844] {
    width: 100%;
    height: 60rem;
    box-sizing: border-box;
    padding: 0 3rem;
    padding-top: 40rem;
    position: relative
}

.login .wrap .head-box[data-v-6698f844] {
    position: relative
}

.login .wrap .head-box .logo2-img[data-v-6698f844] {
    width: 20rem;
    position: absolute;
    left: 0;
    top: -8rem
}

.login .wrap .head-box .join[data-v-6698f844] {
    background: rgba(0, 0, 0, .7);
    border-radius: 2.4rem;
    color: #fff;
    padding: 3rem 3rem;
    font-weight: 700
}

.login .wrap-body[data-v-6698f844] {
    flex: 1;
    box-sizing: border-box;
    padding: 0 1rem;
    width: 100%;
    background: #fff;
    border-radius: 4.8rem 4.8rem 0 0
}

.login .wrap-body .section-box[data-v-6698f844] {
    padding: 0 3rem;
    height: 100%;
    margin-top: 3rem
}

.login .wrap-body .section-box .wrap-logo[data-v-6698f844] {
    display: flex;
    align-items: center
}

.login .wrap-body .section-box .wrap-logo .logo-img[data-v-6698f844] {
    width: 9.8rem;
    height: 9.8rem;
    border: 1px solid #999;
    border-radius: 1rem
}

.login .wrap-body .section-box .wrap-logo .r-dest[data-v-6698f844] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem
}

.login .wrap-body .section-box .wrap-logo .r-dest .logo-tit[data-v-6698f844] {
    font-size: 4rem;
    color: #333;
    font-weight: 700
}

.login .wrap-body .section-box .wrap-logo .r-dest .join[data-v-6698f844] {
    font-size: 2.8rem;
    color: #666
}

.login .wrap-body .section-box .content[data-v-6698f844] {
    width: 63rem;
    margin: 0 auto;
    margin-top: 3rem
}

.login .wrap-body .section-box .content .signin[data-v-6698f844] {
    height: 7rem;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end
}

.login .wrap-body .section-box .content .signin p[data-v-6698f844] {
    position: absolute;
    display: inline-block;
    color: #ffd631;
    font-size: 5rem;
    font-weight: 600
}

.login .wrap-body .section-box .content .signin span[data-v-6698f844] {
    display: inline-block;
    content: "";
    width: 17.2rem;
    height: 1.2rem;
    background: #ffd638
}

.login .wrap-body .section-box .content .userinfo[data-v-6698f844] {
    width: 100%;
    border-radius: 1rem;
    margin-top: 3rem
}

.login .wrap-body .section-box .content .userinfo .box-title[data-v-6698f844] {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-bottom: 2rem
}

.login .wrap-body .section-box .content .userinfo .box-title img[data-v-6698f844] {
    width: 4rem;
    height: 4rem
}

.login .wrap-body .section-box .content .userinfo .box-title .title[data-v-6698f844] {
    box-sizing: border-box;
    font-size: 3.2rem;
    color: #333;
    margin-left: 1rem;
    font-weight: 700
}

.login .wrap-body .section-box .content .userinfo .password[data-v-6698f844] {
    margin-top: 3rem
}

.login .wrap-body .section-box .content .userinfo .line[data-v-6698f844] {
    width: 90%;
    height: .1rem;
    margin: .5rem auto;
    background: #cecece
}

.login .wrap-body .section-box .goforget[data-v-6698f844] {
    margin-top: 3rem
}

.login .wrap-body .section-box .goforget .forgot[data-v-6698f844] {
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    color: #666
}

.login .wrap-body .section-box .goforget .forgot span[data-v-6698f844] {
    color: #35774a;
    font-weight: 700;
    margin-left: 1rem;
    text-decoration: underline
}

.login .wrap-body .section-box .login-btn[data-v-6698f844] {
    width: 63rem;
    height: 9.6rem;
    background: #000;
    border-radius: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3rem
}

.login .wrap-body .section-box .login-btn .tit[data-v-6698f844] {
    font-size: 4rem;
    font-weight: 700;
    color: #fff
}

.login .wrap-body .section-box .sig[data-v-6698f844] {
    font-size: 2.8rem;
    color: #666;
    margin-top: 3rem;
    display: flex;
    flex-direction: column
}

.login .wrap-body .section-box .sig span[data-v-6698f844] {
    color: #35774a;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: 1rem
}

.login .wrap-body .section-box .downloadapp[data-v-6698f844] {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem
}

.login .wrap-body .section-box .downloadapp p[data-v-6698f844] {
    font-size: 4rem;
    font-weight: 700;
    color: #333841;
    margin-left: 2rem;
    text-decoration: underline
}

.login .wrap-body .section-box .downloadapp img[data-v-6698f844] {
    width: 6rem
}

.login .wrap-body .section-box .btnsign[data-v-6698f844] {
    width: 53rem;
    height: 10rem;
    background: linear-gradient(270deg, #21a2ff, #0038c6);
    border-radius: .8rem;
    font-family: fontbold;
    font-size: 4rem;
    color: #fff;
    font-weight: 500;
    margin-top: 6rem;
    padding-top: 1rem
}

.login .wrap-body .section-box .upsign[data-v-6698f844] {
    width: 53rem;
    height: 8rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem
}

.login .wrap-body .section-box .upsign p[data-v-6698f844] {
    color: #333841;
    font-size: 3.6rem;
    margin-right: 2rem;
    font-weight: 700
}

.login .wrap-body .section-box .upsign img[data-v-6698f844] {
    width: 3rem;
    height: 3rem
}

.login .login-bottom[data-v-6698f844] {
    position: absolute;
    width: 70.5rem;
    height: 40.2rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1
}

[data-v-6698f844] .input-box {
    height: 8.8rem;
    border-radius: 1.6rem;
    align-items: center;
    background: #f8f8f8;
    border: .2rem solid #999
}

[data-v-6698f844] .input-box .van-field__control {
    font-weight: 500;
    font-size: 3.2rem
}

[data-v-6698f844] .input-box input::placeholder {
    font-size: 3.2rem;
    font-weight: 400;
    color: #666
}

[data-v-6698f844] .input-box .van-field__left-icon {
    margin-right: 2rem;
    position: relative;
    z-index: 1
}

[data-v-6698f844] .input-box .van-field__left-icon .phone-left {
    display: flex;
    align-items: center
}

[data-v-6698f844] .input-box .van-field__left-icon .phone-left img {
    width: 4rem;
    height: 4rem;
    margin-right: 2rem
}

[data-v-6698f844] .input-box .van-field__left-icon .phone-left .imgt {
    margin-right: 0
}

[data-v-6698f844] .input-box .van-field__left-icon .phone-left p {
    font-size: 2.8rem;
    color: #012cf9
}

[data-v-6698f844] .input-box .van-field__right-icon {
    display: flex;
    align-items: center
}

[data-v-6698f844] .input-box .van-field__right-icon img {
    width: 5rem;
    height: 5rem
}

[data-v-6698f844] .input-box input {
    color: #000
}

[data-v-6698f844] .input-box:after {
    display: none
}

[data-v-6698f844] .sel-input {
    background: rgba(53, 119, 74, .05);
    border: .2rem solid #35774a
}

[data-v-6698f844] .sel-input input {
    color: #35774a
}

[data-v-6698f844] .sel-input input::placeholder {
    font-size: 3.2rem;
    font-weight: 400;
    color: #35774a
}

[data-v-6698f844] .item-boxi {
    border-radius: 1.2rem;
    height: 9rem;
    margin-bottom: 3rem;
    border: 1px solid #999;
    padding: 0
}

[data-v-6698f844] .item-boxi .van-dropdown-menu__bar {
    height: 100%;
    border-radius: 1.2rem;
    justify-content: space-between
}

[data-v-6698f844] .item-boxi .van-dropdown-menu__bar .van-dropdown-menu__item {
    width: 100%;
    justify-content: space-between
}

[data-v-6698f844] .item-boxi .van-dropdown-menu__bar .van-dropdown-menu__item .van-dropdown-menu__title {
    color: #333;
    width: 90%;
    text-align: left;
    font-weight: 500
}

[data-v-6698f844] .item-boxi .van-dropdown-menu__bar .van-dropdown-menu__item .van-dropdown-menu__title:after {
    border: 1rem solid;
    margin-top: -1.5rem;
    opacity: 1;
    border-color: transparent transparent #000 #000
}

[data-v-6698f844] .item-boxi .van-badge__wrapper {
    padding-top: 1rem
}