.awarduis[data-v-0a7940e6] {
    min-height: 100vh;
    background: #f7f6f3;
    box-sizing: border-box;
    padding-bottom: 5rem;
    padding-top: 5rem;
    position: relative;
    z-index: 1
}

.awarduis[data-v-0a7940e6]:after {
    content: "";
    width: 75rem;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: url(/lendlease/dist/img/bg.7ab2eac0.png) no-repeat top/100% auto;
    height: 22rem
}

.awarduis .navback[data-v-0a7940e6] {
    display: flex;
    align-items: center;
    padding: 0 3rem
}

.awarduis .navback .back-img[data-v-0a7940e6] {
    width: 4.8rem;
    height: 4rem
}

.awarduis .navback .logo-img[data-v-0a7940e6] {
    width: 7.2rem;
    height: 7.2rem;
    margin-left: 1rem
}

.awarduis .navback p[data-v-0a7940e6] {
    font-weight: 500;
    font-size: 4.5rem;
    color: #333;
    margin-left: 2rem
}

.awarduis .nav-top[data-v-0a7940e6] {
    width: 93%;
    margin: 3rem auto;
    height: 18rem;
    background: linear-gradient(270deg, #357767, #35774a);
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between
}

.awarduis .nav-top .l-num[data-v-0a7940e6] {
    text-align: left
}

.awarduis .nav-top .l-num .number[data-v-0a7940e6] {
    font-weight: 500;
    font-size: 4rem;
    color: #fff
}

.awarduis .nav-top .l-num .til[data-v-0a7940e6] {
    font-size: 2.4rem;
    color: #fff;
    margin-top: 1rem;
    font-weight: 500
}

.awarduis .nav-top .award-img[data-v-0a7940e6] {
    width: 10rem;
    height: 9.9rem
}

.awarduis .invited-box[data-v-0a7940e6] {
    width: 93%;
    border-radius: 2rem;
    background: #fff;
    border-radius: 1.6rem;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2rem;
    margin-top: -8rem
}

.awarduis .invited-box .invi-t1[data-v-0a7940e6] {
    font-weight: 700;
    font-size: 3.2rem;
    color: #000;
    text-align: left;
    margin-bottom: 1rem
}

.awarduis .invited-box .invitation .wrap-code[data-v-0a7940e6] {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.awarduis .invited-box .invitation .wrap-code .code-img[data-v-0a7940e6] {
    width: 8rem;
    height: 8rem
}

.awarduis .invited-box .invitation .wrap-code .r-code[data-v-0a7940e6] {
    width: 85%;
    box-sizing: border-box;
    padding: 3rem;
    background: #f5f5f5;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.awarduis .invited-box .invitation .wrap-code .r-code .l-til[data-v-0a7940e6] {
    text-align: left;
    width: 80%
}

.awarduis .invited-box .invitation .wrap-code .r-code .l-til .til[data-v-0a7940e6] {
    font-size: 2.8rem;
    font-weight: 700;
    color: #333
}

.awarduis .invited-box .invitation .wrap-code .r-code .l-til .code[data-v-0a7940e6] {
    font-size: 2.3rem;
    color: #666;
    margin-top: 1rem;
    width: 96%;
    word-wrap: break-word !important;
    word-break: normal !important
}

.awarduis .invited-box .invitation .wrap-code .r-code .r-copy[data-v-0a7940e6] {
    width: 10rem;
    height: 5.6rem;
    background: #000;
    border-radius: 2.8rem;
    font-size: 2.4rem;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center
}

.awarduis .section-box[data-v-0a7940e6] {
    padding: 0 3rem;
    margin-top: 3rem
}

.awarduis .section-box .invi-box[data-v-0a7940e6] {
    padding: 2rem;
    background: #fff;
    border-radius: 2rem;
    margin-top: 3rem
}

.awarduis .section-box .invi-box .reward[data-v-0a7940e6] {
    font-weight: 700;
    font-size: 3.2rem;
    color: #000;
    text-align: left
}

.awarduis .section-box .invi-box .til2[data-v-0a7940e6] {
    font-size: 2.6rem;
    color: red;
    text-align: left;
    margin-top: 1rem;
    font-weight: 700
}

.awarduis .section-box .invi-box .task-day[data-v-0a7940e6] {
    padding-bottom: 2rem;
    border-bottom: .1rem solid #ccc
}

.awarduis .section-box .invi-box .task-day .task-top[data-v-0a7940e6] {
    display: flex;
    align-items: center;
    margin-top: 3rem
}

.awarduis .section-box .invi-box .task-day .task-top .gift-img[data-v-0a7940e6] {
    width: 11rem;
    height: 11.4rem
}

.awarduis .section-box .invi-box .task-day .task-top .r-dest[data-v-0a7940e6] {
    margin-left: 2rem
}

.awarduis .section-box .invi-box .task-day .task-top .r-dest .p1[data-v-0a7940e6] {
    font-size: 3rem;
    color: #35774a;
    text-align: left
}

.awarduis .section-box .invi-box .task-day .task-top .r-dest .p1 span[data-v-0a7940e6] {
    color: red
}

.awarduis .section-box .invi-box .task-day .task-top .r-dest .intro[data-v-0a7940e6] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem
}

.awarduis .section-box .invi-box .task-day .task-top .r-dest .intro .t1[data-v-0a7940e6] {
    font-size: 2.4rem;
    color: #ff3131
}

.awarduis .section-box .invi-box .task-day .task-top .r-dest .intro .t2[data-v-0a7940e6] {
    font-size: 2.4rem
}

.awarduis .section-box .invi-box .task-day .task-top .r-dest .intro .t2 span[data-v-0a7940e6] {
    color: #ff3131
}

.awarduis .section-box .invi-box .task-day[data-v-0a7940e6] .taskone-btn {
    width: 65rem;
    height: 8rem;
    background: #000;
    border-radius: 4rem;
    margin-top: 3rem
}

.awarduis .section-box .invi-box .task-day[data-v-0a7940e6] .taskone-btn .van-button__content .van-button__text {
    font-size: 3.6rem;
    color: #fff;
    font-weight: 700
}

[data-v-0a7940e6] .popup-success {
    background: none
}

[data-v-0a7940e6] .popup-success .topcontent {
    width: 61rem;
    background: #fff;
    padding: 3rem;
    padding-bottom: 8rem;
    border-radius: 4rem
}

[data-v-0a7940e6] .popup-success .topcontent .suc-img {
    width: 18.8rem;
    height: 18.7rem
}

[data-v-0a7940e6] .popup-success .topcontent .latest {
    font-size: 3.8rem;
    font-weight: 500;
    font-weight: 700;
    color: #333;
    margin-bottom: 0
}

[data-v-0a7940e6] .popup-success .topcontent .imgsuc {
    margin: 0 auto;
    margin-top: 3rem
}

[data-v-0a7940e6] .popup-success .topcontent .imgsuc p {
    font-size: 5rem;
    font-weight: 400
}

[data-v-0a7940e6] .popup-success .topcontent .textui {
    font-size: 2.8rem;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-top: 3rem
}

[data-v-0a7940e6] .popup-success .topcontent button {
    width: 49.2rem;
    height: 10rem;
    background: #35774a;
    border-radius: .8rem;
    margin-top: 5rem;
    font-weight: 700;
    color: #fff;
    border-radius: 4.4rem;
    font-size: 3.6rem
}

[data-v-0a7940e6] .popup-success .imgclose {
    width: 6.4rem;
    height: 10.4rem
}

[data-v-0a7940e6] .nav-box {
    padding: 4rem 0 0
}

[data-v-0a7940e6] .nav-box .van-nav-bar__content .van-nav-bar__left img {
    width: 2.6rem;
    height: 3rem
}

[data-v-0a7940e6] .nav-box .van-nav-bar__content .van-nav-bar__left i {
    color: #000;
    font-size: 4rem
}

[data-v-0a7940e6] .nav-box .van-nav-bar__content .van-nav-bar__title {
    max-width: 80%;
    padding: .5rem 0
}

[data-v-0a7940e6] .nav-box .van-nav-bar__content .van-nav-bar__title img {
    width: 19.2rem;
    height: 5rem
}

[data-v-0a7940e6] .nav-box .van-nav-bar__content .van-nav-bar__title p {
    font-size: 3.4rem
}

[data-v-0a7940e6] .nav-box .van-nav-bar__content .van-nav-bar__right .billde {
    display: flex;
    align-items: center
}

[data-v-0a7940e6] .nav-box .van-nav-bar__content .van-nav-bar__right .billde p {
    font-size: 3.2rem;
    color: #333
}

[data-v-0a7940e6] .nav-box .van-nav-bar__content .van-nav-bar__right .billde img {
    width: 4.4rem;
    height: 4.4rem;
    margin-left: 1rem
}

[data-v-0a7940e6] .nav-box:after {
    display: none
}

[data-v-0a7940e6] .recive {
    width: 64.2rem;
    height: 7.6rem;
    margin-top: 3rem;
    position: relative;
    z-index: 1;
    background: #fff;
    border-radius: 3.8rem
}

[data-v-0a7940e6] .recive .van-button__content .van-button__text {
    font-weight: 700;
    font-size: 3.2rem;
    color: #ff7600
}

[data-v-0a7940e6] .tabs-box {
    margin-top: 3rem
}

[data-v-0a7940e6] .tabs-box .van-tabs__wrap {
    background: #fff;
    border-radius: .8rem;
    height: 8.8rem
}

[data-v-0a7940e6] .tabs-box .van-tabs__wrap .van-tabs__nav {
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: space-around
}

[data-v-0a7940e6] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tab {
    width: 20rem;
    height: 7rem;
    flex: none;
    border-radius: .8rem
}

[data-v-0a7940e6] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tab span {
    font-size: 3.2rem;
    font-weight: 400;
    color: #333
}

[data-v-0a7940e6] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tab--active {
    border: 0
}

[data-v-0a7940e6] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tab--active span {
    font-weight: 700;
    font-size: 3.2rem
}

[data-v-0a7940e6] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tabs__line {
    background: #35774a;
    bottom: 1rem
}

[data-v-0a7940e6] .tabs-box .van-tabs__content {
    margin-top: 1rem
}