.empty-wrap[data-v-44b1ffad] {
    width: 100%
}

.empty-wrap .empty[data-v-44b1ffad] {
    width: 50rem;
    height: auto;
    margin: 0 auto
}

.empty-wrap .text[data-v-44b1ffad] {
    color: rgba(0, 0, 0, .7);
    font-weight: 500;
    font-size: 2.8rem;
    margin-top: 2rem
}

.records[data-v-a581bf74] {
    min-height: 100vh;
    background: #f7f6f3;
    overflow: hidden;
    position: relative;
    padding-top: 5rem;
    z-index: 1
}

.records[data-v-a581bf74]:after {
    content: "";
    width: 75rem;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: url(/lendlease/dist/img/bg.7ab2eac0.png) no-repeat top/100% auto;
    height: 22rem
}

.records .navback[data-v-a581bf74] {
    display: flex;
    align-items: center;
    padding: 0 3rem
}

.records .navback .back-img[data-v-a581bf74] {
    width: 4.8rem;
    height: 4rem
}

.records .navback .logo-img[data-v-a581bf74] {
    width: 7.2rem;
    height: 7.2rem;
    margin-left: 1rem
}

.records .navback p[data-v-a581bf74] {
    font-weight: 500;
    font-size: 4.5rem;
    color: #333;
    margin-left: 2rem
}

.records .wire[data-v-a581bf74] {
    width: 69.4rem;
    height: .1rem;
    background: #cecece;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 24rem;
    z-index: 111
}

.records .select[data-v-a581bf74] {
    width: 65rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25rem;
    z-index: 111
}

.records .select .tilese[data-v-a581bf74] {
    font-size: 2.8rem;
    font-family: HelveticaNeue;
    color: #fff
}

.records .select .search[data-v-a581bf74] {
    width: 36.5rem;
    height: 5.6rem;
    background: #ededed;
    border-radius: .6rem
}

.records .select .search .left[data-v-a581bf74] {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center
}

.records .select .search .left .datai[data-v-a581bf74] {
    font-size: 2.4rem;
    color: #777;
    margin-right: 1rem;
    font-weight: 500
}

.records .select .search .left .dataimg[data-v-a581bf74] {
    width: 2.8rem;
    height: 2.8rem
}

.records .select .search .btnsear[data-v-a581bf74] {
    height: 5.6rem;
    width: 15.4rem;
    background: #ffc108;
    font-size: 3.2rem;
    font-weight: 500;
    font-weight: 400;
    color: #333841;
    border-radius: .6rem;
    line-height: 5.6rem
}

.records .listrecore[data-v-a581bf74] {
    margin-top: 3rem
}

.records .listrecore .toptitle[data-v-a581bf74] {
    display: flex;
    align-items: center;
    margin-bottom: 2rem
}

.records .listrecore .toptitle span[data-v-a581bf74] {
    width: 2rem;
    height: 2rem;
    background: #777;
    border-radius: 50%;
    margin-right: 2rem
}

.records .listrecore .toptitle p[data-v-a581bf74] {
    font-size: 3.2rem;
    font-weight: 400;
    color: #333841
}

.records .listrecore .contit[data-v-a581bf74] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: .8rem;
    padding: 1rem;
    margin-bottom: 2rem
}

.records .listrecore .contit .rightname[data-v-a581bf74] {
    width: 100%;
    padding: 3rem;
    position: relative
}

.records .listrecore .contit .rightname img[data-v-a581bf74] {
    width: 8.4rem;
    height: 8.4rem;
    position: absolute;
    top: .5rem;
    left: 1rem
}

.records .listrecore .contit .rightname .leftname[data-v-a581bf74] {
    text-align: left;
    margin-left: 8rem
}

.records .listrecore .contit .rightname .leftname p[data-v-a581bf74] {
    font-size: 2.6rem;
    font-weight: 700;
    color: #000
}

.records .listrecore .contit .rightname .leftname span[data-v-a581bf74] {
    font-size: 2.4rem;
    color: #999
}

.records .listrecore .contit .rightname .amount[data-v-a581bf74] {
    font-family: bold;
    color: #333;
    font-size: 2.8rem;
    font-weight: 500
}

[data-v-a581bf74] .nav-box {
    width: 75rem;
    height: 5rem;
    background: none;
    padding-top: 5rem
}

[data-v-a581bf74] .nav-box .van-nav-bar__content .van-nav-bar__left img {
    width: 2.6rem;
    height: 3rem
}

[data-v-a581bf74] .nav-box .van-nav-bar__content .van-nav-bar__left i {
    color: #000;
    font-size: 3.4rem
}

[data-v-a581bf74] .nav-box .van-nav-bar__content .van-nav-bar__title {
    max-width: 80%
}

[data-v-a581bf74] .nav-box .van-nav-bar__content .van-nav-bar__title p {
    font-size: 3.6rem;
    font-weight: 700;
    color: #000
}

[data-v-a581bf74] .nav-box:after {
    display: none
}

[data-v-a581bf74] .tabs-box {
    padding: 0 2.8rem;
    margin-top: 5rem
}

[data-v-a581bf74] .tabs-box .van-tabs__wrap {
    background: #fff;
    border-radius: .8rem;
    height: 8.8rem
}

[data-v-a581bf74] .tabs-box .van-tabs__wrap .van-tabs__nav {
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: space-between
}

[data-v-a581bf74] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tab {
    width: 20rem;
    height: 7rem;
    flex: none;
    border-radius: .8rem
}

[data-v-a581bf74] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tab span {
    font-size: 3.2rem;
    font-weight: 400;
    color: #333
}

[data-v-a581bf74] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tab--active {
    border: 0
}

[data-v-a581bf74] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tab--active span {
    font-weight: 700;
    font-size: 3.2rem
}

[data-v-a581bf74] .tabs-box .van-tabs__wrap .van-tabs__nav .van-tabs__line {
    background: #35774a;
    bottom: 1rem
}

[data-v-a581bf74] .tabs-box .van-tabs__content {
    margin-top: 1rem
}

[data-v-a581bf74] .selectuis .van-picker__toolbar {
    padding: 0 4rem
}

[data-v-a581bf74] .selectuis .van-picker__cancel {
    width: 15rem;
    height: 5rem;
    border-radius: .8rem;
    border: .2rem solid #0091ff;
    color: #0091ff;
    font-weight: 500
}

[data-v-a581bf74] .selectuis .van-picker__confirm {
    width: 15rem;
    height: 5rem;
    background: #0091ff;
    border-radius: .8rem;
    color: #fff;
    font-weight: 500
}

[data-v-a581bf74] .tabs-box .van-tabs__wrap .van-tabs__nav {
    background: none
}